body {
    background-color: #eeeeee !important;
}

.vertical-container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.col {
    background-color: #ffffff;
    border-radius: 5px;
}

.lookup {
    margin-bottom: 100px;
}

.offset {
    margin-right: 25%;
    margin-left: 25%;
}

.no-margin {
    margin: 0px !important;
}

.center {
    text-align: center;
}

.padding {
    padding-top: 20px;
    padding-bottom: 15px;
}

.small-h1 {
    font-size: 24px;
    padding-bottom: 5px;
}

.disabled {
    display: none;
}

.lookupResults {
    display: none !important;
}

#card-element {
    margin: 35px 0px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#card-errors {
    color: red;
    margin-bottom: 15px;
}

#card-success {
    color: green;
    margin-bottom: 15px;
}

#price {
    font-size: 18px;
}

label {
    font-weight: bold;
}

table, th, td {
    border-collapse: collapse;
    border-radius: 4px;
    border-style: hidden;
}

th,td {
    padding: 5px 25px 5px 15px;
    border: 2px solid rgba(151, 151, 151, 0.3);
}

th {
    border-bottom: 2px solid rgba(151, 151, 151, 0.3);
}

a {
    text-decoration: none;
    color: white !important;
}