body {
    background-color: #eeeeee !important;
}

.vertical-container {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.col {
    background-color: #ffffff;
    border-radius: 5px;
}

.offset {
    margin-right: 25%;
    margin-left: 25%;
}

.center {
    text-align: center;
}

.padding {
    padding-top: 20px;
    padding-bottom: 15px;
}

.small-h1 {
    font-size: 24px;
    padding-bottom: 5px;
}

.disabled {
    display: none;
}

#card-element {
    margin: 35px 0px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#card-errors {
    color: red;
    margin-bottom: 15px;
}

#card-success {
    color: green;
    margin-bottom: 15px;
}

#price {
    font-size: 18px;
}